@use '../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  // Necesario para que el animation no cause scrollbar flash
  overflow-x: hidden;
  position: relative;
}